# Django
Django==4.2.7


# Статические файлы
whitenoise==6.5.0

# WSGI сервер для продакшн
gunicorn==21.2.0

# Безопасность
cryptography==41.0.7
bcrypt==4.0.1

# Утилиты
python-decouple==3.8  # для управления настройками через environment variables
Pillow==10.0.1        # для работы с изображениями

# Оптимизация
django-compressor==4.4  # для сжатия статических файлов